@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Model Card Animation - Model Cards */
@keyframes scroll-1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-2 {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(-60%);
  }
}

@keyframes scroll-3 {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(-70%);
  }
}

.scroll-animation-1 {
  animation: scroll-1 110s linear infinite alternate;
}

.scroll-animation-2 {
  animation: scroll-2 120s linear infinite alternate;
}

.scroll-animation-3 {
  animation: scroll-3 90s linear infinite alternate;
}

/* Float Animation - Logo */
@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* SHINE */
@keyframes shine {
  0% {
    border-color: #ffd700;
    box-shadow: 0 0 3px #ffd700;
  }
  50% {
    border-color: #fff7cc;
    box-shadow: 0 0 13px #ffd700;
  }
  100% {
    border-color: #ffd700;
    box-shadow: 0 0 3px #ffd700;
  }
}
